/* @import url(https://db.onlinewebfonts.com/c/8f2a9d487bbbc60974cd132fc3a63862?family=Aeonik+Regular); */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply  scroll-smooth
}


@layer base {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


@layer base {
    body {
        font-family: 'Aeonik Regular', sans-serif;
        background-color:#080411 ;
        /* color : #9E9E9E */
    }
}

@layer utilities {
    .animate-delay-1000 {
        animation-delay: 0s;
    }
    .animate-delay-2000 {
        animation-delay: 3s;
    }
    .animate-delay-4000 {
        animation-delay: 5s;
    }
   
}
/* From Uiverse.io by vinodjangid07 */ 
.input-wrapper {
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
}

.icon {
  width: 30px;
  fill: rgb(255, 255, 255);
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  max-width: 170px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}
.Subscribe-btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  /* display: none; */
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input-wrapper:active .icon {
  transform: scale(1.3);
}
.Subscribe-btn:hover {
  color: white;
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .input-wrapper {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .icon {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .input {
    text-align: end;
    padding : 2px;
    max-width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .Subscribe-btn {
    width: 100%;
  }
}
